@media screen and (max-width: 600px){

.korona{
  width: 100%;
}

    .header-wap{
      margin-top: -50px;
      width: 100%;
      height: 80px;
    }
    
    .header-wap a{
      color: white;
    }
    .header-wap h1 img{
      width: 100%;
      height: 90px;
     } 

.header-wap ul{
  display: block;
  margin-top: -40px;
  margin-left: -20px;
 }

 .header-wap ul li{
  display: none;
 }


.info{
  width: 100%;
  background-image: none;
}

.info img{
  width: 100%;
  height: 300px;
}

.info p{
  font-size: 25px;
}

.menu-text h3 , .menu-text h4, .menu-text p {
  padding: 0;
  margin: 0;
}

.menu-wap{
  background-image: none;
  width: 100%;
}

.menu-wap h2{
  margin: 0;
  font-size: 30px;
  margin-top: -50px;  
  margin-bottom: 20px;
}

.menu{
  padding: 0;
  display: block;
  background-image: url(image/haikei5_0001.png);
  
}

.menu img{
  width: 100%;
  background-image: none;
}

.menu-text{
  text-align: center;
  padding: 0;
  width: 100%;
  font-size: 20px;
}


 
.tenpo{
  background-image: none;
  margin: 50px 0;
  width: 100%;
}

.tenpo h2{
  width: 80%;
  margin: 0;
  text-align: center;
}

.access{
  display: block;
}

.map iframe{
  margin: 0;
  width: 100%;
  height: 300px;
}

.map-text{
  margin: 0;
}



}
