@media screen and (max-width: 600px) {
    
    @import url(‘https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap&subset=japanese’);
    
    
    body{
        font-family: "游明朝", 'Noto Serif JP'、serif;
        margin: 0;
        padding: 0;
    }

.header-nav ul {
    display: none;
}

.header-nav p {
    display: none;
}

.header-nav h1 {
     font-size: 28px;
}

header {
    height: 60px;
}
.header {
    width: 100%;
    margin: 0 auto;
    height: 300px;
}

.header img {
    width: 100%;
    height: 300px;
    left: 0;
    object-fit: cover;
    transform: scale(1.5) translateY(-20px);
}

.bar {
    margin: 50px auto;
}

/* コロナ--------------------------------------------------*/
.korona {
    width: 98%;
}

.korona span {
    color: red;
}

.media-text {
    display: inline-block;
}

.media-text2 {
    display: inline-block;
    color: black!important;
}

.korona-img img {
    width: 100%;
    padding: 0;
}

.korona-img {
    transform: scale(1.2);
    margin: 15px 0 -10px -15px;
    width: 100%;
}

.calendar iframe {
    margin-top: -50px;
    width: 100%;
}
/*welcome--------------------------------------------*/
.welcome {
    width: 100%;
    display: block;
    text-align: center;
}

.welcome-text {
    width: 100%;
    margin: 0;
}

.welcome-image {
    width: 100%;
}

.welcome-image  {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 300px;
}

.welcome-image:after {
    display: none
}

.welcome-image img {
    height: auto;
}




/*h2-------------------------------------------*/
.bar {
    width: 100%;
}



/*メニュー--------------------------------------------*/
.menu-wrap {
    width: 100%;
    height: auto;
    text-align: center;
    clip-path: none;
    margin-bottom: 100px;
  
}


.menu {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
}
.menu2 {
    flex-direction: column-reverse;
}

.menu img {
    width: 100%;
    border-radius: 0%;
    height: 280px;
    object-position: 50%;
}

.menu-img-frame {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.anniversary {
    transform: scale(1.4);
}

.menu-text {
    width: 100%;
    z-index: 0;
    padding: 0 0 5px 0;
}

.menu-text p {
    padding-left: 0;
    text-align: center;
}
.menu-text2 {
    margin: 0;
}
.menu:after {
    display: none;
}

.menu-wrap:nth-of-type(2) {
    clip-path: none;
}

.menu2 {
    
}

.menu2 img {
    width: 100%;
    height: 280px;
    transform: scale(1.3);
}

/*food--------------------------------------------*/
.food-wrap {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.food-image {
    display: block;
}
.food-text {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0;
}

/*--------------------osake------------------*/
.osake {
    width: 100%;
    padding-right: 0px;
    display: block;
    height: auto;
    margin-bottom: 100px;
}

.osake-text {
    width: 90%;
    padding: 10px;
    margin: 50px 0;
}

.osake-text:after {
    height: 300px;
    margin-top: -70px;
}

.osake img {
    width: 100%;
    margin: 0;
}


/*アクセス--------------------------------------------*/
.access {
    width: 100%;
    margin: 0px auto 50px;
    padding: 10px 0;
    text-align: center;
    display: block;
}

.map {
    width: 100%;
    margin: 0;
}
.map iframe {
    width: 100%;
    height: 400px;
}

.map-text {
    width: 100%;
    margin: 0;
}

/*LINEアイコン--------------------------------------------*/
.fa-line {
    font-size: 40px;
    color: green;
}



}
